{% extends 'base.html' %}
{% block content %}

<h1>Employee List</h1>

<a href="{% url 'createEmployeeWithForm' %}" class="btn btn-primary">
    + Create Employee
</a>


<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Join Date</th>
        <th>Post</th>
        <th>Actions</th>
    </tr>

    {% for emp in employees %}
    <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.join_date }}</td>
        <td>{{ emp.post }}</td>
        <td class="actions">
            <a href="{% url 'deleteEmployee' emp.id %}" class="btn btn-danger">
            Delete
            </a>

            <a href="{% url 'updateEmployee' emp.id %}" class="btn btn-warning">
            Update
            </a>
        </td>

    </tr>
    {% endfor %}

</table>

{% endblock %}
